@import './../../assets/css/base.scss';

.friend-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: $light;
  border-radius: 3px;
  box-shadow: 0 0px 4px 0px #eee;
  padding: 10px;
  margin: 10px 0;
  &:hover {
    cursor: pointer;
  }
  .fri-content-overview {
    flex: 1;
    margin-left: 15px;
    .fri-name {
      line-height: 20px;
      text-transform: capitalize;
    }
  }
}
