@import './../../assets/css/base.scss';

.tabs {
  .tab-header {
    display: flex;
    position: relative;
    flex-direction: row;
    box-shadow: 0 0px 1px 0px;
    background: $light;
    .tab-item {
      flex: 1;
      font-size: $font-size-big;
      letter-spacing: 3px;
      text-align: center;
      padding: 20px;
      @media only screen and (max-width: $mobile) {
        font-size: $font-size-normal;
      }
      &:hover {
        cursor: pointer;
      }
      &:last-child {
        border-left: 1px solid $light-grey;
      }
      &.active {
        color: $active;
      }
    }
    .active-indicator {
      display: inline-block;
      position: absolute;
      top: 53px;
      width: 50%;
      height: 5px;
      background: $active;
      transition: all 0.3s ease-in-out;
      @media only screen and (max-width: $mobile) {
        top: 50px;
      }
      &.animated {
        transform: translateX(100%);
      }
    }
  }
}
