@import './../../assets/css/base.scss';
.chat-box-wrapper {
  display: flex;
  flex-direction: column;
  padding: 30px 15%;
  height: 100%;
  transition: all 0.4s ease-in;
  transform: translateY(-200px);
  opacity: 0;
  &.active {
    margin-top: -12px;
    transform: translateY(0);
    opacity: 1;
  }
}
