@import './../../assets/css/base.scss';
.thread-item-wrapper {
  overflow: hidden;
  &.active {
    .thread-item {
      background: $active;
      .tri-name {
        font-size: 24px;
      }
    }
    .chat-box-wrapper {
      margin-top: -12px;
      transform: translateY(0);
      opacity: 1;
    }
  }
  .chat-box-wrapper {
    transition: all 0.4s ease-in;
    margin-top: -12px;
    transform: translateY(-50px);
    opacity: 0;
  }
  .thread-item {
    z-index: 1;
    transition: all 0.4s ease-in;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: $light;
    border-radius: 3px;
    box-shadow: 0 0px 4px 0px #eee;
    padding: 10px;
    margin: 10px 0;
    &:hover {
      cursor: pointer;
    }
    .tri-content-overview {
      flex: 1;
      margin-left: 15px;
      .tri-name {
        line-height: 20px;
        text-transform: capitalize;
      }
      .tri-last-mes {
        color: $text-grey;
      }
    }
    .tri-time {
      font-size: 12px;
      color: $text-grey;
    }
  }
}
