$dark: #383838;
$light: #ffffff;

$active: #1195a2;

$text-dark: #000000;
$text-grey: rgba($text-dark, 0.4);
$text-active: #365899;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 600;

$font-size-headline1: 38px;
$font-size-headline2: 30px;
$font-size-headline3: 22px;
$font-size-headline: 18px;
$font-size-normal: 14px;
$font-size-small: 12px;
$font-size-tiny: 10px;

$desktop: 1200px;
$mobile: 480px;
