@import './base.scss';

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 100%;
  font-size: $font-size-normal;
  line-height: 1;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-stroke: 1px transparent;
  overflow-x: hidden;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
html,
body,
#root {
  height: 100%;
}

input {
  &:focus {
    outline: none;
  }
}

.hidden {
  display: hidden;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.delay-0 {
  transition-delay: 0s;
}
.delay-1 {
  transition-delay: 1s;
}
.delay-2 {
  transition-delay: 2s;
}
.delay-3 {
  transition-delay: 3s;
}
.delay-4 {
  transition-delay: 4s;
}
.delay-5 {
  transition-delay: 5s;
}
.delay-6 {
  transition-delay: 6s;
}
.delay-7 {
  transition-delay: 7s;
}
.delay-8 {
  transition-delay: 8s;
}
.delay-9 {
  transition-delay: 9s;
}
.list-container {
  padding: 10px 15%;
  height: '95vh';
  overflow-y: 'scroll';
  @media only screen and (max-width: $mobile) {
    padding: 10px 1%;
  }
}

.db-main {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/yRF5c-O/glass-crystal-polygons-seamless-motion-background-full-hd-dark-yellow_hfah2xhz__F0000.png)
    center center no-repeat;
  background-size: cover;
}

.scroll::-webkit-scrollbar {
  width: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 20px;
}

.scroll::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 20px;
}
